.flex {
    display: flex;
}

.all_layout {
    width: 100vw;
    height: 100vh;
}

.centerize_items {
    justify-content: center;
    align-items: center;
}

.eighty_percent {
    width: 80%;
}

.twenty_percent {
    width: 20%;
}